//---------------Base styles------------

// Box-sizing:border-box for all
html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

// Position:relative for all
* {
  position: relative;
}

// links
a {
  text-decoration: underline;

  &:hover, 
  &:focus {
    text-decoration: none;
  }
}

sub {
  bottom: 0;
}

// lists
ul, 
ol {
  padding-left: 2em;
}

button {
  outline: 0;
}

@include bp(mobileonly){
  img {
    width: 100%;
  }
}

