.wrap {
  width: 500px;
}

//viewport demo
.wrapper {
  width: 100%;
}

.centre {
  background: $green;
  margin: auto;
  max-width: 1190px;
  overflow: hidden;
  width: 1024px;
}

.content {
  width: 1024px;
}


//animated graphs demo
.tg__single {
  background: $greydk;
  color: $white;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 1%;
  padding: 20px;
  width: 80%;
}

.tg--group__single {
  width: 30%;

  .gg__bars,
  .gg__bar-wrap {
    border: 0;
  }
}


//navscroll demo
.navscroll-demo {
  width: 500px;
}
