.wrap {
  width: 100%;
}

header {

  .centre {
    @include centre(90%);
  }
}

main {
  @include centre(90%);
}

.centre {
  background: $green;
  margin: auto;
  max-width: 1190px;
  overflow: hidden;
  width: 90%;
}

.content {
  width: 1024px;
}


//animated graphs demo
.tg__single {
  background: $greydk;
  color: $white;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 1%;
  padding: 20px;
  width: 80%;
}

.tg--group__single {
  width: 30%;

  .gg__bars,
  .gg__bar-wrap {
    border: 0;
  }
}


//scroll-nav demo
.scroll-nav-enabled {
  background: $greydk;
  color: $white;

  main {
    width: 100%;
  }

  .content {
    @include centre(800px);
    background: $white;
    color: $black;
  }
}

//viewport demo
.viewprt-demo {
  .wrapper {
    width: 100%;
  }
}
